# Remove some app specific folders
.claude/settings.json
.claude/settings.local.json
.obsidian/

# Remove some python related folders
.pytest_cache/
.venv/
.worktrees/
*.pyc

# Remove environment variables
# Currently the .env file does not contain any secrets.
.env

# Source code files
src/chroma/
src/bm25.pkl
src/ingestion_log.json
src/__pycache__/
src/tests/__pycache__/

# Eval data contains excerpts of copyrighted course material (gold snippets)
eval/

# Hide actual documents from being uploaded to GitHub
docs/study-guides/
raw/IS 6410/
raw/IS 6495/
raw/IS 6570/
raw/IS 6640/
raw/IS 6801/
raw/OSC 6660/
raw/OSC 6680/
wiki/IS 6410/
wiki/IS 6495/
wiki/IS 6570/
wiki/IS 6640/
wiki/IS 6801/
wiki/OSC 6660/
wiki/OSC 6680/
wiki/index.md
wiki/log.md